<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crud_seeker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>seeker</h1>

    <!-- <form action="/seeker_ops" method="post">
        <div class="seeker-main">
            <div class="seeker-left">
                <div class="crud-ops" id="seeker-insert">
                    <input type="number" name="" id="" placeholder="ID">
                    <input type="text" name="" id="" placeholder="Name">
                    <input type="email" name="" id="" placeholder="Email">
                    <input type="tel" name="" id="" placeholder="Contact No">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Address"></textarea>
                    <input type="text" name="" id="" placeholder="Branch">
                    <input type="number" name="" id="" placeholder="CGPA">
                    <button type="submit">insert</button>
                </div>
                <div class="crud-ops" id="seeker-update">
                    <input type="number" name="" id="" placeholder="ID">Enter ID 
                    <input type="text" name="" id="" placeholder="Name">
                    <input type="email" name="" id="" placeholder="Email">
                    <input type="tel" name="" id="" placeholder="Contact No">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Address"></textarea>
                    <input type="text" name="" id="" placeholder="Branch">
                    <input type="number" name="" id="" placeholder="CGPA">
                    <button type="submit">update</button>
                </div>
                <div class="crud-ops" id="seeker-delete">
                    <input type="number" name="" id="" placeholder="ID">Enter ID 
                    <button type="submit">delete</button>
                </div>
            </div>   
            <div class="seeker-right">

            </div>
        </div>
    </form> -->

    <div class="crud-main">
        <div class="crud-first-row row">
            <div class="crud-left-col col col-4">
                <form action="seeker/crud/insert" method="post">
                    <input class="form-inputs" type="number" name="sid" id="" placeholder="ID" >
                    <input class="form-inputs" type="text" name="sname" id="" placeholder="Name" >
                    <input class="form-inputs" type="email" name="semail" id="" placeholder="Email" >
                    <input class="form-inputs" type="tel" name="sphone" id="" placeholder="Contact" >
                    <input class="form-inputs" type="text" name="sbranch" id="" placeholder="Branch" >
                    <input class="form-inputs" type="number" name="scgpa" id="" placeholder="CGPA" step="0.1" min="0" max="10" value="0">
                    <button type="submit">Insert</button>
                </form>
            </div>
            <div class="crud-mid-col col col-4">
                <h1 class="crud-delete-header">Seeker</h1>
                <form action="seeker/crud/delete" method="post">
                    <input type="number" name="sid" id="" placeholder="Enter ID to Delete">
                    <button type="submit">Delete</button>
                </form>
            </div>
            <div class="crud-right-col col col-4">
                <form action="seeker/crud/update" method="post">
                    <input class="form-inputs" type="number" name="sid" id="" placeholder="Enter ID to Update">
                    <input class="form-inputs" type="text" name="sname" id="" placeholder="Name" >
                    <input class="form-inputs" type="email" name="semail" id="" placeholder="Email" >
                    <input class="form-inputs" type="tel" name="sphone" id="" placeholder="Contact" >
                    <input class="form-inputs" type="text" name="sbranch" id="" placeholder="Branch" >
                    <input class="form-inputs" type="number" name="scgpa" id="" placeholder="CGPA" step="0.1" min="0" max="10" value="0">
                    <button type="submit">Update</button>
                </form>
            </div>
        </div>
        <div class="crud-second-row row">
            <div class="crud-second-col col col-12">
                <% records.forEach((element)=>{ %>
                    <span><%= element.s_id %></span>
                    <span><%= element.s_name %></span>
                    <span><%= element.s_email %></span>
                    <span><%= element.s_contact %></span>
                    <span><%= element.s_branch %></span>
                    <span><%= element.s_cgpa %></span>
                    <%  }) %>
            </div>
    </div>



</body>
</html>